$primary-color: #88bdbc;
$primary-color-dark: #254e58;
$text-color: #112d32;
$secondary-color-dark: #4f4a41;
$secondary-color: #6e6658;
$buttons-color: #4e85ba;
$buttons-color-dark: #376087;

$break-desktop: 1000px;
$break-mobile: 400px;